<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>aType - Type and save to localStorage</title>
</head>

<body><div id="app">
<h1>aType - Type and save to localStorage</h1>
<button v-on:click="newTA()">New</button>
<input type="text" cols="15" placeholder="newkey_here" v-model="vmnewkey">
Keys ({{ getLSLength() }})
<select id="vmkeySelect" style="" v-model="vmkey" @change="vmkeyChange()"> 
<option v-for="k in vmkeys" :value="k">{{k}}</option>
</select>
<textarea rows="30" style="display:block;width:100%;white-space:nowrap;margin: 5px 0 5px" v-model="vmta"></textarea>
<button v-on:click="vmta=''">Clear</button>
<button v-on:click="vmkeyChange()">Load</button>
<button v-on:click="saveTA()">Save</button>
<button v-on:click="">Import</button>
<button v-on:click="exportTA()">Export</button>
 | <button v-on:click="deleteTA()">Delete</button>
<div style="display:block">{{ message }} </div>
</div></body>

<script>
  function beautifyJSON(s) {
    var o = {}
	try { o = JSON.parse(s); return JSON.stringify(o,null,2) }
	catch(e) { return s }
  }
  
  function download(filename, text) {
    var textCopy = text;
	var element = document.createElement('a')
	element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(textCopy))
	element.setAttribute('download', filename)
	element.style.display = 'none'
	document.body.appendChild(element)
	element.click()
	document.body.removeChild(element)
  }

  
  var app = new Vue({
    el: '#app',
	data: {
	  message: '...',
	  vmkeys: Object.keys(localStorage),
	  vmkey: '',
	  vmta: '',
	  vmnewkey: ''
	},
	methods: {
	  messageUpper: function () { 
	    return this.message.length
	  },
	  getLSLength: function () { return localStorage.length },
	  updateVmkey: function () { this.vmkeys = Object.keys(localStorage) },
	  vmkeyChange: function () { this.vmta = beautifyJSON(localStorage.getItem(this.vmkey)) },
	  clearTA: function () { this.vmta = '' },
	  exportTA: function () { download(this.vmkey+'.txt', this.vmta) },
	  newTA: function () { 
	    if (!this.vmkeys.includes(this.vmnewkey) && this.vmnewkey) { 
		  localStorage.setItem(this.vmnewkey, this.vmta) 
		  this.updateVmkey()
		} else { alert('Error on keyname') }
	  },
	  saveTA: function () { localStorage.setItem(this.vmkey, this.vmta); this.showMessage('Saving Text to localStorage') },
	  deleteTA: function () { localStorage.removeItem(this.vmkey); this.updateVmkey(); this.showMessage('Deleting ('+ this.vmkey +') Text from localStorage') },
	  showMessage: function (text) { this.message = text; setTimeout(()=>{this.message = ''},3000) }
	}
  })
</script>
</html>